# Ignore everything
*
# But not these files
!.gitignore
!pubspec.yaml
!README.md
!analysis_options.yaml
!.metadata
!codemagic.yaml

# Flutter/Dart - un-ignore lib directory and ALL subdirectories
!lib/
!lib/**/

# Android
!android/
!android/**

# Web
!web/
!web/**

# Assets
!assets/
!assets/**

# Gradle Wrapper
!gradle/
!gradle/**

# Test
!test/
!test/**
